.slideimg {
  width: 20%;
}

.splideimg {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.intro {
  padding: 2vw;
  width: 100vw;
  text-align: center;
  align-items: center;
}

.introtitle {
  font-size: 80px;
}

.introtext {
  font-size: 30px;
}

.worktext {
  font-size: 25px;
}

.worktexts {
  font-size: 23px;
}

.worktextss {
  font-size: 20px;
}

.workdivone {
  width: 70vw;
  margin: 0 auto;
}

.workdivtwo {
  width: 85vw;
  margin: 0 auto;
}

.introdivone {
  width: 50vw;
  margin: 0 auto;
}

.introdivtwo {
  width: 40vw;
  margin: 0 auto;
}

.introdivthree {
  width: 25vw;
  margin: 0 auto;
}
